################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LectorVerificadorCB_TEF/bin/Debug
/LectorVerificadorCB_TEF/obj/x86/Debug
/.vs/LectorVerificadorCB_TEF/v14
/LectorVerificadorCB_TEF/LectorVerificadorCB_TEF.vbproj.user
